src/main/mule/examafter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ibm-mq="http://www.mulesoft.org/schema/mule/ibm-mq" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ibm-mq http://www.mulesoft.org/schema/mule/ibm-mq/current/mule-ibm-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="77d50dbb-a93f-4127-8996-21118c2c5dba" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="examafterFlow" doc:id="555ccac4-9084-43ee-9ec1-990e2ab1a4ae" >
		<http:listener doc:name="Listener" doc:id="4f67067d-ea6f-41a8-951f-84ff412d48a5" path="/examtest" config-ref="HTTP_Listener_config"/>
		<set-payload value="before" doc:name="Set Payload" doc:id="1003695b-b79f-4b2b-9238-7179bb33f1bc" />
		<validation:is-null doc:name="Is null" doc:id="a8b287e8-9bd6-49f1-a881-f96484b70dd4" value="#[payload]" message="validation error"/>
		<set-payload value="after" doc:name="Set Payload" doc:id="5e364d4e-af96-44f8-8375-1999bf401586" />
	</flow>
</mule>
